@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Trabalho Final</h1>
    <p>Veja sobre a codificação no <a href="https://github.com/micherlane/trabalho_final_analise_e_projeto"> link do repositório no github</a>.</p>
</div>
